pandas==1.2.4
sklearn==0.24.1
numpy==1.19.5
re>=2.2.1
matplotlib>=3.4.1
nltk>=3.6.2
yake>=0.4.8
json>=2.0.9
gensim>=4.2.0
tqdm>=4.60
keybert>=0.7.0
wordcloud>=1.8.2
openpyxl>=3.0.9
upsetplot>=0.6.1
plotly>=5.10
scipy==1.6.2
fuzzysearch>=0.7.3
arcas
xmltodict
pymongo